body  { font-size: 14px; font-family: Arial, Helvetica, sans-serif }
td  { font-size: 14px; font-family: Arial, Helvetica, sans-serif }
p  { font-size: 14px; font-family: Arial, Helvetica, sans-serif }
b  { font-weight: bold; font-size: 13px; font-family: Arial, Helvetica, sans-serif }
a {font-family: Arial, Helvetica, sans-serif; font-size: 14px;}
tt {
font-family: Arial, Geneva, Helvetica, sans-serif;
font-size: 14px;
}
textarea, pre { font-family: Fixedsys, Courier, Courier New; } 
a:link { font-size: 14px;text-decoration:none; }
a:visited { font-size: 14px;text-decoration:none; }
a:hover { color: #339900;text-decoration:none;;cursor:crosshair; }
