body  { font-size: 13px; font-family: Trebuchet MS,Arial,sans-serif }
td  { font-size: 13px; font-family: Trebuchet MS,Arial,Helvetica,sans-serif }
p  { font-size: 13px; font-family: Trebuchet MS,Arial,Helvetica,sans-serif }
b  { font-weight: bold; font-size: 13px; font-family: Trebuchet MS,Arial,Helvetica,sans-serif }
a {font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px;}
tt {
font-family: Trebuchet MS,ArialArial,Geneva,Helvetica,sans-serif;
font-size: 13px;
color : black;
}
textarea, pre { font-family: Fixedsys,Courier,Courier New; } 
a:link { font-size: 13px;text-decoration:none; }
a:visited { font-size: 13px;text-decoration:none; }
a:hover { color: #339900;text-decoration:none;;cursor:crosshair; }
